
/*------------- Fonts ( Bebas Neue,Matemasie ) -------------*/
@font-face {
    font-family: "Bebas Neue";
    src: url('../../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: Matemasie;
    src: url('../../assets/fonts/Matemasie/Matemasie-Regular.ttf');
}

/*------------- Footer Css Element -------------*/
.fBox{
    z-index: 1;
    padding-bottom: 5px;
    padding-top: 40px;

    footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        .divFooter {
            height: 50vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            z-index: 1;
            h1 {
                display: inherit;
                width: 400px;
                font-size: 50px;
                font-weight: bold;
                justify-content: center;
                align-content: center;
                padding: 20px;
                font-family: "Matemasie", sans-serif;
                color: rgb(255, 255, 255);
                width: 60vw;
                display: flex;
                align-items: end;
                .divFooterIcon {
                    font-size: 20vh;
                }
            }
            ul {
                padding: 10px 28px;
                display: grid;
                justify-content: end;
                align-content: center;
                h1 {
                    font-family: "Matemasie",sans-serif;
                    font-weight: 800;
                    text-align: end;
                    width: 20vw;
                    font-size: 6vh;
                }
                ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    justify-content: end;
                    background-color: rgb(255, 255, 255);
                    border-radius: 20px;
                    a {
                        font-size: 35px;
                        padding: 2px 8px;
                        .FIcon02 {
                            color: rgb(190, 43, 154);
                        }
                        .FIcon03 {
                            color: rgb(32, 117, 146);
                        }
                        .FIcon04 {
                            color: rgb(0, 0, 0);
                        }
                    }
                }
                ul:hover {
                    padding: 12px 30px;
                    a:hover {
                        border-radius: 50%;
                        font-size: 38px;
                        color: rgb(255, 255, 255);
                    }
                }
            }
            p {
                display: grid;
                grid-column: span 2;
                padding: 0px 25px;
                text-align: justify;
                font-weight: 200;
                font-style: italic;
                font-variant: small-caps;
                letter-spacing: 1px;
                word-spacing: 2px;
                font-size: 2vh;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
            }
        }
    }
}

