
/*------------- Google Fonts ( Poppins,Griffy ) -------------*/
@font-face {
    font-family: Poppins;
    src: url('../../assets/fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
    font-family: Griffy;
    src: url('../../assets/fonts/Griffy/Griffy-Regular.ttf');
}

/*------------- Login Page Css Element -------------*/
.Login {
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/images/login\ background\ image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .LoginForm {
        font-family: "Griffy", system-ui;
        height: 90vh;
        width: 28vw;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 50px;
        row-gap: 4px;
        position: absolute;
        left: 60%;
        align-self: center;
        font-weight: bold;
        h1 {
            font-size: 4.5vh;
        }
        span {
            font-size: 2.3vh;
            a {
                color: rgb(23, 115, 234);
            }
            a:hover{
                text-decoration: underline solid 2px rgb(23, 115, 234);
            }
        }
        input {
            font-size: 2.5vh;
            padding: 10px 10px;
            border-radius: 20px;
            border: none;
            background-color: rgb(233, 233, 233);
            font-family: "Poppins",sans-serif;
        }
        input:focus {
            outline: 4px solid rgb(169, 201, 232);
        }
        h2 {
            font-size: 2.3vh;
            text-align: end;
            cursor: pointer;
        }
        button {
            font-size: 2.8vh;
            height: 5.8vh;
            width: 22vw;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 2px;
            h3 {
                padding-right: 10px;
                font-size: 3.8vh;
                text-align: center;
            }
        }
        p {
            font-size: 2vh;
            font-family: "Poppins",sans-serif;
        }
        .SignIn {
            background-color: rgba(255, 0, 0,0.8);
            color: rgb(255, 255, 255);
            border-radius: 50px;
            font-weight: 700;
        }
        .SignIn:hover {
            background-color: rgb(0, 128, 0);
        }
        .SignF {
            background-color: rgb(23, 115, 234);
            color: rgb(255, 255, 255);
            h3 {
                color: rgb(255, 255, 255);
            }
        }
        .SignT {
            background-color: rgb(66, 131, 237);
            color: rgb(255, 255, 255);
        }
        .SignInIcon{
            padding-left: 20px;
        }
    }
}

/*------------- Success Page Css Element -------------*/
.successFully {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .success {
        background-color: whitesmoke;
        height: 50vh;
        width: 60vw;
        display: grid;
        text-align: center;
        padding: 20px 20px;
        h1 {
            font-size: 10vh;
            font-weight: bolder;
        }
        h2 {
            font-size: 6vh;
            font-weight: bold;
        }
        p {
            font-size: 2vh;
            font-weight: 500;
            padding: 20px;
        }
        button {
            font-size: 4vh;
            font-weight: bold;
            border: none;
            padding: 10px 10px;
            border-radius: 20px 20px 20px 20px / 20px 0px 20px 0px;
            background-color: rgb(255, 215, 0);
            color: rgb(255, 255, 255);
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(4, 153, 219);
            font-size: 4.5vh;
        }
    }
}

