
/*------------- Fonts ( Karantina,Matemasie ) -------------*/
@font-face {
    font-family: Matemasie;
    src: url('../../../assets/fonts/Matemasie/Matemasie-Regular.ttf');
}
@font-face {
    font-family: Karantina;
    src: url('../../../assets/fonts/Karantina/Karantina-Regular.ttf');
}

/*------------- Soda Components Css Element -------------*/
.content01 {
    height: 80vh;
    width: 98vw;
    z-index: 1;
    padding: 1vh;
    span {
        font-size: 6vh;
        background-color: rgb(156, 42, 50);
        color: white;
        padding: 10px;
        padding-bottom: 3px;
        border-radius: 25px 25px 0px 0px;
        font-family: "Karantina", system-ui;
        cursor: default;
    }
    .SodaBox {
        height: 80vh;
        width: 97.8vw;
        border: 4px solid rgb(156, 42, 50);
        border-radius: 0px 20px 20px 20px;
        background-color: rgb(205, 205, 205);
        background-image:
        repeating-linear-gradient(
            to right, transparent 0 150px, rgba(0, 0, 0, 0.067) 150px 151px), 
        repeating-linear-gradient(
            to bottom, transparent 0 150px, rgba(0, 0, 0, 0.067) 150px 151px),
        linear-gradient(to right, rgba(205, 205, 205, 0.8), rgba(205, 205, 205, 0.8)),
        url('../../../assets/images/soda\ Background\ image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .details {
            display: grid;
            justify-items: center;
            align-items: center;
            row-gap: 10px;
            padding: 20px;
            h1 {
                font-family: "Matemasie",sans-serif;
                font-size: 10vh;
            }
            p {
                width: 28vw;
                font-size: 2.5vh;
                text-align: justify;
                font-family: "Karantina", system-ui;
            }
            img {
                width: 22vw;
                aspect-ratio: 4/1;
            }
        }
        .banner {
            display: grid;
            justify-items: center;
            align-items: end;
            height: 80vh;
            row-gap: 10px;
            .product {
                --left: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.7s;
                .soda {
                    cursor: pointer;
                    background: var(--url) var(--left) 0,
                        url('../../../assets/images/soda\ mockup.png');
                    background-size: auto 100%;
                    width: 288px;
                    aspect-ratio: 2 / 4;
                    background-blend-mode: multiply;
                    mask-image: url('../../../assets/images/soda\ mockup.png');
                    mask-size: auto 100%;
                    transition: 0.7s;
                    position: absolute;
                    transform: scale(0.68);
                    z-index: 2;
                }
                .soda:nth-child(2) {
                    opacity: 0;
                }
            }
            .product:hover .soda:nth-child(2) {
                opacity: 1;
            }
            .rock {
                img {
                    transition: 0.7s;
                    width: 28vw;
                    height: 20vh;
                    z-index: 1;
                }
            }
            .product:hover {
                --left: 1180px;
                transform: translateY(-28px);
            }
        }
        .banner:has(.product:hover) .rock img:nth-child(1) {
            transform: translateY(20px);
        }
    }
}
.content01:hover {
    span {
        background-color: rgb(253, 214, 0);
    }
    .SodaBox {
        border: 4px solid rgb(253, 214, 0);
    }
}

